/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 */
body{
    background: linear-gradient(rgb(202 216 255 / 30%), rgb(147 253 255 / 85%));
}
.changa-title {
  font-family: "Changa", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title{
    text-align: center;
    margin: 1%;
}
.content input{
    text-align: right;
}
.content input:focus {
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 30px 0px 41px rgb(0, 0, 0);
}

.content input::placeholder {
    font-size: 22px;
    color: black;
}