@media (max-width:870px){
    .container input {
        width: 700px;
        font-size: 25PX;
}
    
}
@media (max-width:770px){
    .container input {
        width: 600px;
        
}
    
}
@media ((min-width:570px) and (max-width:670px)){
    .container input {
        width: 500px;
        
}
    
}

@media (max-width:569px){
    .inputdiv{
        margin-top: 120px;
    }
    .container input {
        width: 300px; 
    
}
    .title {
        font-size: 40px;
        text-shadow: 7px 21px 11px brown;            }   
}
